<header>
    <div class="header-logo">
        <img src="/assets/libreria.png" alt="logo" class="logo">
        <h1>Librería</h1>
    </div>

    <% if (rutaActual !=="login" ) { %>
        <div class="header-sesion">
            <form action="/auth/destroy" method="POST" id="formLogOut">
                <button type="submit" class="btn-logout">Cerrar sesión</button>
            </form>
        </div>
        <% } %>
</header>

<% if (rutaActual !=="login" ) { %>
    <div class="sidebar">
        <nav>
            <a href="/admin/dashboard">Dashboard</a>
            <a href="/admin/crear">Crear libro</a>
            <a href="/admin/registros">Registros</a>
        </nav>

        <div class="descargas-admin">
            <a href="/api/ventas/export" class="btn-excel">Descargar ventas</a>
            <a href="/api/encuestas/export" class="btn-excel">Descargar encuestas</a>
        </div>
    </div>
    <% } %>