<header>
    <div class="logo">
        <a href="/admin/dashboard">
            <h1>📚 Panel de administrador</h1>
        </a>
    </div>

    <nav>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/crear">Crear libro</a>

        <form action="/auth/destroy" method="POST" id="formLogOut">
            <input type="submit" value="CERRAR SESION">
        </form>
    </nav>
</header>