<%- include("../partials/head.ejs", { titulo }) %>
<%- include("../partials/header.ejs", { rutaActual }) %>

<main>
    <div class="login-container">
        <h2><%= detalle %></h2>

        <form id="login-form" action="/auth/" method="POST">
            <div class="campo">
                <label for="correoUsuario">Correo electrónico</label>
                <input type="email" name="email" id="correoUsuario" placeholder="correo@ejemplo.com" required>
            </div>

            <div class="campo">
                <label for="contraseniaUsuario">Contraseña</label>
                <input type="password" name="contrasenia" id="contraseniaUsuario" placeholder="••••••••••••" required>
            </div>

            <button type="submit" class="btn-ingresar">Ingresar</button>

            <button type="button" id="btn-autocompletar" class="btn-rapido">Acceso rápido</button>
        </form>
    </div>
</main>

<%- include("../partials/footer.ejs") %>