<%- include("../partials/head.ejs", { titulo }) %>
<%- include("../partials/header.ejs", { rutaActual }) %>

<main>
    <h1>Registros y estadísticas</h1>

    <!-- Estadísticas generales -->
    <section class="estadisticas">
        <h2>Estadísticas generales</h2>
        <div id="contenedor-estadistica">
            <!--- JavaScript -->
        </div>
    </section>

    <!-- Top 10 libros más vendidos -->
    <section class="top-libros">
        <h2>Top 10 libros más vendidos</h2>
        <div id="contenedor-top-libros">
            <!--- JavaScript -->
        </div>
    </section>

    <!-- Top 10 ventas más caras -->
    <section class="top-ventas">
        <h2>Top 10 ventas más caras</h2>
        <div id="contenedor-top-ventas">
            <!--- JavaScript -->
        </div>
    </section>

    <!-- Logs de inicio de sesión -->
    <section class="registros">
        <h2>Logs de inicio de sesión</h2>
        <div id="contenedor-registros">
            <!--- JavaScript -->
        </div>
    </section>
</main>

<%- include("../partials/footer.ejs") %>
